@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 80%;
  aspect-ratio: 16/9;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

.item {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  position: absolute;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}
